In [ ]:
import sys 
import numpy as np # linear algebra
from scipy.stats import randint
import matplotlib.pyplot as plt # this is used for the plot the graph 
%matplotlib inline
import re
from tqdm import notebook
import seaborn as sns
import tensorflow as tf
from scipy import stats
import pandas as pd
import json
from pandas.io.json import json_normalize

In [ ]:
attrib = pd.read_csv('attributes.csv', delim_whitespace = True)

In [ ]:
attrib

In [4]:
cpudata = pd.read_csv('machine.data', names = attrib['attributes'])
print (cpudata.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 10 columns):
X1    209 non-null object
X2    209 non-null object
X3    209 non-null int64
X4    209 non-null int64
X5    209 non-null int64
X6    209 non-null int64
X7    209 non-null int64
X8    209 non-null int64
Y1    209 non-null int64
Y2    209 non-null int64
dtypes: int64(8), object(2)
memory usage: 16.5+ KB
None

In [5]:
cpudata.shape

(209, 10)

In [6]:
cpudata.head()

        X1       X2   X3    X4     X5   X6  X7   X8   Y1   Y2
0  adviser    32/60  125   256   6000  256  16  128  198  199
1   amdahl   470v/7   29  8000  32000   32   8   32  269  253
2   amdahl  470v/7a   29  8000  32000   32   8   32  220  253
3   amdahl  470v/7b   29  8000  32000   32   8   32  172  253
4   amdahl  470v/7c   29  8000  16000   32   8   16  132  132

In [7]:
data = cpudata.drop(columns=['X1','X2','Y2'
                          ], axis=1)
data.head()

    X3    X4     X5   X6  X7   X8   Y1
0  125   256   6000  256  16  128  198
1   29  8000  32000   32   8   32  269
2   29  8000  32000   32   8   32  220
3   29  8000  32000   32   8   32  172
4   29  8000  16000   32   8   16  132

In [8]:
data.describe()

,X3,X4,X5,X6,X7,X8,Y1
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000
mean,203.822967,2867.980861,11796.153110,25.205742,4.698565,18.267943,105.622010
std,260.262926,3878.742758,11726.564377,40.628722,6.816274,25.997318,160.830733
min,17.000000,64.000000,64.000000,0.000000,0.000000,0.000000,6.000000
25%,50.000000,768.000000,4000.000000,0.000000,1.000000,5.000000,27.000000
50%,110.000000,2000.000000,8000.000000,8.000000,2.000000,8.000000,50.000000
75%,225.000000,4000.000000,16000.000000,32.000000,6.000000,24.000000,113.000000
max,1500.000000,32000.000000,64000.000000,256.000000,52.000000,176.000000,1150.000000

### Scramble the data

In [9]:
train=data.sample(frac=0.6,random_state=223)
test=data.drop(train.index)

trainy=train.pop('Y1')
testy=test.pop('Y1')

train=np.array(train)
test=np.array(test)
trainy=np.array(trainy).reshape(-1,1)
testy=np.array(testy).reshape(-1,1)

In [10]:
##define a normalization function
def norm_data(train, test,norm=True):
    std_train=np.ones(train.shape[1])
    mu_train=np.zeros(train.shape[1])
    if(norm):
        std_train = np.std(train, 0)
        mu_train=np.mean(train,0)

    train=(train - np.full(train.shape, mu_train)) / \
            np.full(train.shape, std_train)
    test=(test - np.full(test.shape, mu_train)) / \
            np.full(test.shape, std_train)
    return train,test,mu_train,std_train


train_x,test_x,_,_=norm_data(train,test,norm=True)
train_y,test_y,_,_=norm_data(trainy,testy,norm=True)

In [11]:
Train=np.c_[train_x,train_y]
Test=np.c_[test_x,test_y]

### Output data

In [16]:
dtout=np.r_[Train,Test]

In [17]:
np.save('cpudt',dtout)